header img {
    width: 100%;
    box-shadow: 0px 10px 0.5em #000000;
}

h1 {
    position: absolute;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFF;
    text-shadow: 0 0 0.25em #FFFF;
    font-size: 500%;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
}

p {
    font-family: trebuchet;
}

#lateral {
    background-color: #F6F0E0;
}

#lateral {
    width: 20%;
    float: left;
}

#lateral h2 {
    text-align: center;
}

#lateral ul {
    list-style-type: none;
}

#lateral p {
    width: 100%;
    text-align: center;
    background-color: #0B340B;
    color: #FFFFFF;
}

#lateral img {
    width: 100%;
}

#conteudo {
    font-size: 170%;
    width: 100%;
    height: 100%;
}

#final {
    float: left;
    background-color: #F6F0E0;

}

#educacao {
    text-align: center;
    height: 200px;
    top: 2000px;

}

#texto {
    position: absolute;
    width: 150%;
    height: 200px;
    float: left;

}

#icon_git {
    font-weight: bold;
    font-size: 170%;
    width: 100%;
    float: left;
    color: #FFFFFF;
}

#icon_facebook {
    font-size: 170%;
    font-weight: bold;
    text-align: left;
    float: left;
    color: #FFFFFF;
}

#icon_twitter {
    font-weight: bold;
    font-size: 170%;
    color: #FFFFFF;
    width: 100%;
    float: left;
}

footer {
    background-image: url("../img/footer.jpg");
    color: #FFFFFF;
}